<h2>List of ratings</h2>
<%= "#{@ratings.count} ratings" %>
<ul>

 <% @ratings.each do |rating| %>
   <li> <%= rating.to_s %>  <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>
<p><%= link_to 'New', new_rating_path %>  </p>
<p>To be completed....</p>
