<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating.to_s %>  <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
 <% end %>
</ul>
<p><%= link_to 'New', new_rating_path %>  </p>
<p>To be completed....</p>
